.physician-form-page {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.physician-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.physician-form-preview {
    min-width: 300px;
    max-width: 700px;
    width: auto;
    background-color: #f7f7f7;
    border: 3px solid #e4e4e4;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.physician-form-preview-details {
    max-width: 500px;
}

.physician-form-preview-details>h2 {
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
}

.physician-form {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
}