.welcome-page {
    height: 100vh;
    display: flex;
    background-color: #615A99;
    justify-content: center;
}

.welcome-left-section {
    background-color: white;
    width: 600px;
    height: 600px;
}

.welcome-right-section {
    background-color: #CECECE;
    width: 400px;
    height: 600px;
}