.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 10px;
    color: #ffffff;
    background-color: #59538D;
    font-size: 16px;
}

.footer-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 10px;
    color: #ffffff;
    background-color: #59538D;
    font-size: 16px;
}

.about-link {
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    background-color: #59538D;
    text-decoration: underline;
}

.about-link:hover {
    background-color: #59538D;
    color: #9e9e9e;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.footer-icons>a>i {
    color: #ffffff;
    font-size: 18px;
}

.footer-icons>a>i:hover {
    color: #9e9e9e;
}

/* iPad Pro and Small Screens */
@media (max-width: 1024px) {}

/* iPads and Tablets */
@media (max-width: 768px) {}

/* iPhones and Phones */
@media (max-width: 480px) {
    .footer {
        display: none;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
    }
}