.welcome-page {
    min-height: calc(100vh - 140px);
    background-color: #615A99;
    display: flex;
    justify-content: center;
}

.landing-section {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.landing-left-section {
    background-color: white;
    width: 650px;
    height: 450px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-right-section {
    background-color: #CECECE;
    width: 300px;
    height: 450px;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-cards-group {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-card {
    display: flex;
    align-items: center;
}

.info-card-icon {
    font-size: 36px;
    color: #615A99;
    margin: 20px;
}

.info-card-details {
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
}

.landing-login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-button {
    width: 100%;
    height: 35px;
    margin: 5px
}

.landing-input {
    height: 30px;
    margin: 5px
}

.logo-gif {
    width: 200px;
}

/* iPad Pro and Small Screens */
@media (max-width: 1024px) {
    .landing-section {
        width: 90%;
        min-height: 450px;
    }

    .landing-left-section {
        width: 50%;
    }

    .landing-right-section {
        width: 30%;
    }

    .info-cards-group {}

    .info-card-icon {
        min-width: 40px;
    }
}

/* iPads and Tablets */
@media (max-width: 768px) {}

/* iPhones and Phones */
@media (max-width: 480px) {
    .landing-section {
        flex-direction: column;
    }

    .landing-left-section {
        width: 90%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .landing-right-section {
        width: 90%;
        height: auto;
        border-radius: 0 0 10px 10px;
    }

    .logo-gif {
        width: 150px;
    }

    .info-card-details>h4 {
        font-size: 14px;
    }

    .info-card-details>p {
        font-size: 12px;
    }

    .info-card-icon {
        margin: 10px;
    }

    .landing-login-form>label {
        margin-top: 5px;
    }
}