@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: 'Anuphan', sans-serif;
    /* margin: 0;
    padding: 0;
    border: 0; */
}