@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: 'Anuphan', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #59538D;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #615A99;
    color: white;
}

button:disabled {
    background-color: #e8e8e8;
    color: #b0b0b0;
    cursor: default;
}

label {
    margin-top: 15px;
}

input {
    width: 100%;
    background-color: #EAEAEA;
    padding: 3px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    background-color: #EAEAEA;
    padding: 3px;
    border-radius: 5px;
}

select {
    width: 100%;
    background-color: #EAEAEA;
    padding: 3px;
    border-radius: 5px;
}

.error {
    color: red;
    font-style: italic;
}

.hidden-icons {
    color: white;
    transition: all 1s ease-out;
}

.profile-pic {
    width: 100%;
    object-fit: cover;
    background-color: white;
}