.specialties-title {
    color: #615A99;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.specialties-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-count: 3;
}

.specialty-list-item {
    font-size: 18px;
    font-weight: normal;
    color: #615A99;
    background-color: white;
}

.specialty-list-item:hover {
    color: #615A99;
    background-color: white;
    text-decoration: underline;
}

.specialty-card-icon {
    font-size: 24px;
    background-color: white;
    color: #A1A1A1;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .1s ease-out;
    cursor: pointer;
}

.specialty-card-icon:hover {
    background-color: #ffffff;
    color: #615A99;
    margin: 0;
    padding: 0;
    border: 0;
}

.add-specialty-button {
    width: 250px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 10px;
}