#modal {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
}

.delete-modal {
  width: 30vw;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-modal>p {
  margin: 5px 0 15px 0;
}

.confirm-delete-button {
  width: 200px;
  height: 40px;
  margin: 5px;
  background-color: #d74c4c;
}

.cancel-delete-button {
  width: 200px;
  height: 40px;
  margin: 5px;
  background-color: #6f6f6f;
}