.appointment-cards-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.appointments-title {
    margin: 20px 30px;
}

.book-appointment-button {
    color:#615A99;
    font-size: 14px;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    margin: 0 25px;
}

.appointment-card {
    max-width: 620px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.appointment-card-details {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.appointment-card-details>h2 {
    color: #615A99;
}

.appointment-card-details>h3 {
    font-weight: 400;
    font-size: 16px;
}

.appointment-card-details>p {
    max-width: 480px;
    overflow-wrap: break-word;
}

.appointment-card-date {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.month {
    color: #615A99;
    font-size: 30px;
    font-weight: 400;
}

.day {
    color: #615A99;
    font-size: 40px;
}

.year {
    color: #615A99;
    font-size: 24px;
    font-weight: 400;
}

.time {
    color: #615A99;
    font-size: 14px;
}

.appointment-hr {
    width: 90%;
    margin: 3px 0;
    border: 1px solid #e5e5e5;
}

.appointment-card-icons {
    align-self: flex-start;
    position: relative;
    height: fit-content;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.appointment-card-icon {
    font-size: 24px;
    background-color: white;
    color: #A1A1A1;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .1s ease-out;
    cursor: pointer;
}

.appointment-card-icon:hover {
    background-color: #ffffff;
    color: #615A99;
    margin: 0;
    padding: 0;
    border: 0;
}