.appointment-form-page {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment-form {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
}